*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
body{

    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav_bar{
    width: 96%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 2%;
    text-align: center;
    border-bottom: 1px solid black;
}
.nav_bar .logo{
    width: auto;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_bar .logo img{
    width: auto;
    height: 100%;
}
.nav_bar img{
    height: 56px;
    width: auto;
}
.nav_bar i{
    font-size: 20px rgb(95, 83, 83);
    font-weight: bold;
    font-size: 20px;
}
form{
    width: 400px;
    height: auto;
    border: 2px solid black;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
}
form img{
    width: 150px;
    
    margin-top: -75px;
}
form input {
    width: 90%;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid red;
    margin-top: 20px;
    box-shadow: 0px 0px 10px red;
}
form button {
    width: 90%;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid red;
    margin-top: 20px;margin-bottom: 20px;
    box-shadow: 0px 0px 10px red;
    background-color: red;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}